USE [MusteriDB]
GO
/****** Nesnesi: Table [dbo].[MusteriAdresleri] Betik Tarihi: 16.07.2026 14:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriAdresleri](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[District] [nvarchar](30) NULL,
	[AddressText] [nvarchar](150) NOT NULL,
	[AddressType] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[MusteriIletisimBilgileri] Betik Tarihi: 16.07.2026 14:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusteriIletisimBilgileri](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[ContactType] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Musteriler] Betik Tarihi: 16.07.2026 14:33:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MusteriAdresleri] ON 

INSERT [dbo].[MusteriAdresleri] ([AddressId], [CustomerId], [City], [District], [AddressText], [AddressType]) VALUES (1, 1, N'Bursa', N'Nilüfer', N'Örnek Mahallesi 1. Sokak No:10', N'Ev')
INSERT [dbo].[MusteriAdresleri] ([AddressId], [CustomerId], [City], [District], [AddressText], [AddressType]) VALUES (2, 2, N'İstanbul', N'Kadıköy', N'Bahariye Caddesi No:25', N'İş')
INSERT [dbo].[MusteriAdresleri] ([AddressId], [CustomerId], [City], [District], [AddressText], [AddressType]) VALUES (3, 3, N'Ankara', N'Çankaya', N'Atatürk Bulvarı No:45', N'Ev')
SET IDENTITY_INSERT [dbo].[MusteriAdresleri] OFF
GO
SET IDENTITY_INSERT [dbo].[MusteriIletisimBilgileri] ON 

INSERT [dbo].[MusteriIletisimBilgileri] ([ContactId], [CustomerId], [PhoneNumber], [ContactType]) VALUES (1, 1, N'05550000001', N'Mobil')
INSERT [dbo].[MusteriIletisimBilgileri] ([ContactId], [CustomerId], [PhoneNumber], [ContactType]) VALUES (2, 2, N'05550000002', N'Mobil')
INSERT [dbo].[MusteriIletisimBilgileri] ([ContactId], [CustomerId], [PhoneNumber], [ContactType]) VALUES (3, 3, N'05550000003', N'Mobil')
SET IDENTITY_INSERT [dbo].[MusteriIletisimBilgileri] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([CustomerId], [FirstName], [LastName], [Email], [CreatedAt], [IsActive]) VALUES (1, N'Beytullah', N'Atasoy', N'beytullahatasoy55@gmail.com', CAST(N'2026-07-11T20:56:12.970' AS DateTime), 1)
INSERT [dbo].[Musteriler] ([CustomerId], [FirstName], [LastName], [Email], [CreatedAt], [IsActive]) VALUES (2, N'Ahmet', N'Yilmaz', N'guncellenenmail@gmail.com', CAST(N'2026-07-11T20:56:12.970' AS DateTime), 1)
INSERT [dbo].[Musteriler] ([CustomerId], [FirstName], [LastName], [Email], [CreatedAt], [IsActive]) VALUES (3, N'Mehmet', N'Kaya', N'mehmet.kaya@example.com', CAST(N'2026-07-11T20:56:12.970' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MusteriAdresleri]  WITH CHECK ADD  CONSTRAINT [FK_MusteriAdresleri_Musteriler] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Musteriler] ([CustomerId])
GO
ALTER TABLE [dbo].[MusteriAdresleri] CHECK CONSTRAINT [FK_MusteriAdresleri_Musteriler]
GO
ALTER TABLE [dbo].[MusteriIletisimBilgileri]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Musteriler] ([CustomerId])
GO
